* {
  padding: 0;
  margin: 0;
}

#container {
  width: 990px;
  margin-left:auto;
  margin-right:auto;
}

header {
  margin-top: 35px;
  font-family: "Trebuchet ms", "Trebuchet", "Verdana";
  color: #367AA9;
}

#logo {
  height: 55px;
  width: 63px;
  margin-top: 5px;
  float: left;
  margin-right: 10px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 18px;
  line-height: 20px;
}

.chart {
  margin: 70px 0 70px 0;
  height: 400px;
  width: 990px; 
}
