# -*- coding: utf-8 -*-

API = 'http://a.wykop.pl'
# klucz do API (http://www.wykop.pl/developers/appnew/)
KEY = ''
# katalog dla plików z danymi
DIR = './db/'
# nazwy plików przechowujących dane
PROMOTED = 'promoted'
UPCOMING = 'upcoming'
OUTPUT = 'results.js'
